################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/dist/angular-registration-login-example
/.vs
/.angular/cache/14.2.10
